src/main/mule/mule-hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db66e220-f8a2-4965-91e2-98c0bd9f2b7b" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<flow name="mule-helloFlow" doc:id="3c3cfc0c-27da-4eb5-8e7e-b4a796783308" >
		<http:listener doc:name="Listener" doc:id="15f952a9-2a9e-43d9-88a5-56f49983ee8a" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="Hello ! Welcome to world of Mule." doc:name="Set Payload" doc:id="7a5cd16f-fb44-42d2-b043-a39093ca2767" />
		<logger level="INFO" doc:name="Logger" doc:id="5f86155d-3bc3-4e54-b2fd-e1b49763f073" message="#[payload]"/>
	</flow>
</mule>
